{% extends 'base.html' %}
{% block title %}
	首页
{% endblock %}
{% block content %}
	<h1 class="box-center">
		欢迎来到我的网站
		{% if user.is_authencated %}
			user
		{% else%}
			please login
		{% endif %}
	</h1>
{% endblock%}
{% block script %}
window.onload=function(){
	ajax_get_graph_info()
}
function ajax_get_graph_info(){
	$.ajax({
		url:{% url 'graph_info' %},
		type:'GET',
		success:function(arg){
			console.log(arg)
		},
		erro:function(){
			alert('you cuo!')
		}
	})
}
{% endblock %}